*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: hsl(0, 0%, 60%);
    line-height: 1.5em;
    padding: 12px 6px;
}

nav h1 a{
    color: white;
    text-decoration: none;
    padding: 3px;
}

nav h1 a:hover{
    background-color: hsl(0, 0%, 30%);
    border-radius: 6px;
}

li{
    display: inline-block;
    margin-left: 6px;
}

li a {
    text-decoration: none;
    padding: 6px;
    color: white;
}

li a:hover{
    background-color: hsl(0, 0%, 30%);
    border-radius: 6px;
}

main{
    max-width:90%;
    margin: 1.5em auto;
    text-align: center;
}

main section{
    display: inline-block;
    max-width:30%;
}

main section img{
    width:100%;
    height: 250px;
}

main section img:hover{
    border: 3px solid hsl(0, 0%, 60%);
    border-radius: 3px;
}

/* recipe content styles */

.main-content{
    font-size: 1.15em;
    display: flex;
    line-height: 1.5em;
}

.main-content article h2, .main-content article h3{
    margin-top: 1.1em;
}

.main-content aside{
    align-content: center;
}
